<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="icon" href="/static/img/favicon.png">
        <title> CPSB System Key | Incorrect credentials</title>
    </head>
    <body>
        <div class="main-signin">
            <div class="form">
                <p class="label" style="font-size: 20px; color: red;">Sorry, incorrect credentials</p>
                <button class="button-submit-1" onclick="window.open('/', '_self')">Sign In Again>>></button>
            </div>
        </div>
    </body>
</html>