<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="icon" href="/static/img/favicon.png">
        <title>CPSB System Key | Sign In</title>
    </head>
    <body>
        <div class="main-signin">
            <div class="form">
                <label for="name" class="label-1">Name:</label>
                <input type="text" class="input-field-1" id="name">
                <label for="password" class="label-1">Password:</label>
                <input class="input-field-1" id="password" type="password">
                <button class="button-submit-1" id="submit-home-form" onclick="signin()">Sign In</button>
            </div>
        </div>

        <script src="/static/js/script.js"></script>
    </body>
</html>